body{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#clock{
    font-size: 5rem;
    font-weight: 1000;
    padding: 38px 48px;
    border-radius: 15px;
    border: 5px solid rgb(255, 255, 255);
    color: aqua;
}